* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to bottom right,#e66465, #e7eb28);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.hesapMakinesi{
    margin-bottom:25vh;
    height:auto;
    width:auto;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(12px);
    grid-template-rows: repeat(12px);
    justify-items: center;
    align-items:center;
}

.Ekran{
    opacity: 0.5;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom left,#413e3e,#242020)
}

.Ekran > div {
    min-height:2vh;
}

.Ekran > div > p{
    font-size:1.5rem;
    color:white;
    height:3vh;
}

.btns{
    display:grid;
    justify-items:center;
    align-items:center;
    grid-template-columns: 8vh 8vh 8vh 8vh 8vh;
    grid-template-rows: 10vh 10vh 10vh 10vh ;
    grid-gap: 0;
}

.btns > button{
    height:100%;
    width:100%;
    background-image: linear-gradient( to top left,#b6a8a8,#ffffff);
}

.btns > button:hover{
    opacity: 0.7;
}

button[name="0"]{
    grid-column: 1 / 3;
    grid-row:4 / 4;
}

button[name="-"],button[name="+"],button[name="*"],button[name="/"] {
    grid-column: 4 / 4;
}

button[name="+"]{
    grid-row: 3 / 3;
}

button[name="-"]{
    grid-row: 4 / 4;
}

button[name="*"]{
    grid-row: 1 / 1;
}

button[name="/"]{
    grid-row: 2 / 2;
}

button[name="."]{
    grid-column: 3 / 3;
    grid-row: 4 / 4;
}

button[name="="]{
    grid-column: 5 / 5;
    grid-row: 3 / 5;
}

button[name="del"]{
    grid-column: 5 / 5;
    grid-row: 1 / 1;
}

button[name="CA"]{
    grid-column: 5 / 5;
    grid-row:  2 / 2;
}
