*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width:100vw;
    height:100vh;
}

#root:first-child{
    position:relative;
}

.makeFormDiv{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.2)
}

.dialog-div{
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 2vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0.5px #000000 inset;
} 

.dialog-content{    
    overflow: auto;
    width:90%;
    height:85%;
    display:grid;
    grid-template-rows: 1fr 16fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 20%);
}

.dialog-content > :nth-child(1){
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
}

.dialog-content > :nth-child(2){
    grid-column: 1 / 5;
    grid-row: 2 / 2;
    margin: 2.5% 0 2.5% 0;
}

.dialog-content > :nth-child(3){
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.dialog-content > :nth-child(4){
    grid-row: 5 / 5;
    grid-column: 1 / span 5;
}

.dialog-content > :nth-child(5){
    grid-row: 4 / span 1;
    grid-column: 2 / span 3;
}

#popDown{
    position: absolute;
    top:5%;
    righT:5%;
    font-size: 0.7em;
}

#popDown:hover{
    background-color: red;
    color: white;
    transition: color .5s ease-in;
}

#editable{
    min-width: auto;
    padding: 0 0 0 5%;
    border:2px solid black;
    border-radius:1vw;
}

#editable:empty::before{
    text-align:center;
    cursor:text;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.formNameDiv:empty::before{
    content: "What is the name of this form?";
}

.formDescriptionDiv:empty::before{
    content: "What describes this form?";
}

.indFormEl{
    display:flex;
    flex-direction: column;
    
}

.indFormEl input {
    width:25%;
}

.indFormEl p{
    right:0;
}