*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width:100vw;
    height:100vh;
}

#root:first-child{
    position:relative;
}

.makeFormDiv{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.2)
}

.dialog-content{
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 6%;
    overflow: auto;
    background-color:whitesmoke;
    
}

#popDown{
    position: absolute;
    top:5%;
    righT:5%;
}

#editable{
    width:80%;
    min-width: auto;
    height:10%;
    padding: 0 0 0 5%;
    border:2px solid black;
    border-radius:8px;
}

#editable:empty::before{
    text-align:center;
    cursor:text;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.formNameDiv:empty::before{
    content: "What is the name of this form?";
}

.formDescriptionDiv:empty::before{
    content: "What describes this form?";
}

.indFormEl{
    border: 1px solid black;
    border-radius: 8px;
}

.indFormEl input{
    display:flex;
    flex-direction: column;
}
